<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue TodoList</title>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
            integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="crossorigin="anonymous"
            referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="./assets/css/style.css">
    </head>
    <body>

        <div id="root">

            <header>
                <div class="logo">
                    <img :src="logo" alt="" width="300">
                </div>
            </header>
            <!-- logo -->

            <main>

                <div id="addTask">
                    <input type="text" placeholder="Nuovo Todo"
                        v-model="newTask" v-on:keyup.enter="addTask">
                    <button @click="addTask">Aggiungi</button>
                </div>
                <!-- input and button -->
                <div id="error" style="color: red; margin-top: 0.2rem;"
                    v-show="error">
                    Devi inserire una task che abbia almeno 6 caratteri!
                </div>
                <!-- error text -->

                <div class="container">

                    <div class="todo">

                        <h4>Todo List</h4>

                        <div id="tasks" v-if="tasks.length> 0">
                            <div id="task" v-for="(task, index) in tasks">
                                <div class="text">
                                    {{task}}
                                </div>

                                <div class="actions">

                                    <div id="done">
                                        <i class="fas fa-check fa-lg fa-fw"
                                            @click="completeTask(index,
                                            tasks[index])"></i>
                                    </div>
                                    <div id="removeTask">
                                        <i class="fas fa-times fa-lg fa-fw"
                                            @click="removeTask(index,
                                            tasks[index])"></i>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div v-else>
                            <p>
                                Non ci sono tasks, goditi la giornata oppure
                                creane
                                una
                                nuova!
                            </p>
                        </div>

                    </div>
                    <!-- Todo list -->

                    <div class="completed">

                        <div class="completati">
                            <h4>Completati</h4>
                        </div>

                        <div id="completedTasks">
                            <div id="completedTask" v-for="(completedTask,
                                index) in
                                completedTasks">

                                <div class="text">
                                    {{completedTask}}
                                </div>

                                <div class="actions">

                                    <div id="redo">
                                        <i class="fas fa-redo fa-lg fa-fw"
                                            @click="redoTask(index,
                                            completedTasks[index])"></i>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- Completati -->

                    <div class="trash">

                        <div class="cestino">
                            <h4>Cestino</h4>
                            <p @click="emptyTrash">(Svuota)</p>
                        </div>

                        <div id="removedTasks">
                            <div id="removedTask" v-for="(removedTask, index) in
                                removedTasks">

                                <div class="text">
                                    {{removedTask}}
                                </div>

                                <div class="actions">

                                    <div id="restore">
                                        <i class="fas fa-trash-restore fa-lg
                                            fa-fw"
                                            @click="restoreTask(index,
                                            removedTasks[index])"></i>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- Cestino -->

                </div>



            </main>
            <!-- main site -->


        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="./assets/js/app.js"></script>
    </body>
</html>