<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue TodoList</title>
        <link rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
            integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
            crossorigin="anonymous">
        <link rel="stylesheet" href="./assets/css/style.css">
    </head>
    <body>

        <div id="root">

            <div id="addTask">
                <input type="text" placeholder="Aggiungi una nuova task"
                    v-model="newTask" v-on:keyup.enter="addTask">
                <button @click="addTask">Aggiungi</button>
            </div>
            <div id="error" style="color: red;" v-show="error">
                Devi inserire una task che abbia almeno 6 caratteri!
            </div>

            <div id="tasks" v-if="tasks.length> 0">
                <div id="task" v-for="(task, index) in tasks">
                    <div class="text">
                        {{task}}
                    </div>
                    <div id="removeTask">
                        <i class="fas fa-times-circle fa-lg fa-fw"
                            @click="removeTask(index)"></i>
                    </div>
                </div>
            </div>
            <div v-else>
                Non ci sono tasks, goditi la giornata oppure creane una nuova!
            </div>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="./assets/js/app.js"></script>
    </body>
</html>